/build-aux
*~
/*.rockspec
Makefile
/aclocal.m4
/autom4te.cache
/configure
/config.log
/config.status
/cw
/cw.lua
/cw-definitions-path
/cw-definitions-path.lua
/cw.1
/cw-*.tar.gz
/cw-*.src.rock
/install-sh
/luarocks
/luarocks-config.lua
/missing
/Makefile.in
/release-notes
/TAGS
