/build-aux
*~
*.o
Makefile
/.deps
/aclocal.m4
/autom4te.cache
/compile
/configure
/config.h
/config.h.in
/config.log
/config.status
/cw
/cw.1
/cw-*.tar.gz
/depcomp
/INSTALL
/missing
/Makefile.in
/stamp-h1
/lib
/snippet
/TAGS
